DATABASE_URL="postgresql://postgres:postgres@localhost:5432/geora?schema=public"
JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"
PORT=4000
CORS_ORIGIN="*"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_PROOF_FOLDER="geora/work-proofs"
